/* || general styles*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
}

h2 {
    font-size: 0.9rem;
    color: #0096c7;
    margin: 0;
}

p {
    font-size: 0.6rem;
}

a {
    text-decoration: none;
    color: #023e8a;
}

ul {
    margin: 0;
    padding: 0;
}

header li, main li {
    display: inline-block;
}

/* || header content*/

/*navigation bar*/
header {
    text-align: center;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2vh 0;
    background-color: #caf0f8; /*blue color palette: https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
}

nav li {
    padding-right: 2vw;
    padding-left: 2vw;
}

nav li a {
    font-size: 0.9rem;
}

/*introductory content*/
.intro {
    padding-top: 6vh; /*added to make up for the fixed nav*/
    background-color: #ade8f4;
    text-align: center;
    margin-bottom: -3vh;
}

h1 {
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: #023e8a;
    font-size: 3rem;
}

.intro-text {
    padding-bottom: 10vh;
    font-size: 1.4rem;
}

/* || main content*/
main {
    background-color: #90e0ef;
}

main ul{

    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

main a {
    color: #023e8a;
    font-size: 1.2rem;
}

.download-link {
    font-size: 1rem;
}

main figcaption {
    padding-top: 2vh;
}

.content-links {
    height: 200px;
    width: 200px;
    border: solid 5px #caf0f8;
    border-radius: 50%;
    transition: all .5s;
}

.content-links:hover {
    transform: scale(1.2) rotate(5deg);
}

/* || links content */

.links-background {
    position: relative;
    margin-bottom: -8px;
}

.html-background-image {
    width: 100vw;
    height: 100vh;
}

.cards {
    position: absolute;
    display: flex;
    top: 30vh;
    left: 50%;
    margin-left: -32vw;
    /*We centered the cards by having their shared space be 64vw
    Each card is 25 vw wide, has 4 vw padding and a 3vw margin*/
}

.card {
    background-color: #caf0f8;
    border-radius: 15px;
    width: 25vw;
    padding: 3vh 2vw 2vh;
}

.first-card {
    margin-right: 3vw;
}

.second-card {
    margin-left: 3vw;
}



/* || footer content*/
footer {
    margin-bottom: -16px;
    text-align: center;
    background-color: #023e8a;
}

footer ul {

    padding-top: 2vh;
    padding-bottom: 2vh;
    list-style: none;
}

footer li {
    color: #caf0f8;
}

footer a {
    color: #00b4d8;
}

/* || media queries */

/*This applies when the device is not a smartphone*/
@media screen and (min-width: 440px) {
    nav li a {
        font-size: 1.2rem;
    }
    header {
        text-align: left;
    }
    header ul {
        padding-left: 40px;
    }

}


/*Kindle, iPad and bigger screens*/
@media screen and (min-width: 700px){
    p {
        font-size: 1rem;
    }
    h2 {
        font-size: 2rem;
    }
    .download-link {
        font-size: 1.2rem;
    }
}
